.winrateTooltip {
    font-size: 16px;
    max-width: 300px;
    /*color: #785a28 !important;*/
}

.CSWColoredTextGradiant {
    background: -webkit-linear-gradient(#a8540c, #b79e4d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}