
:global(.my_class1) {
    background: red !important;
}

:local(.my_class2) {
    background: green !important;
}

.my_class3 {
    background: #5f2bb3 !important;
}

.my_class4 {
    background: #d9e000 !important;
}
